.CVForm {
  border: lightslategrey 1pt dotted;
  width: 49%;
  box-shadow: 5px 10px 8px #888888;
}

.form-group {
  position: relative;
  padding: 0.8rem;
}

.form-group-bottom {
  position: relative;
  padding: 0.8rem;
  padding-bottom: 2rem;
}

input.form-control {
  height: 0.9rem;
  position: absolute;
  width: 60%;
  left: 10rem;
}

input.form-control-area::placeholder {
  top: 0;
  position: absolute;
}

label.form-control-label {
  position: absolute;
  font-size: 0.8em;
  left: 5px;
  text-transform: uppercase;
}

button[type='submit'] {
  display: none;
}

.buttons {
  text-align: center;
}

.buttons-bottom {
  padding-bottom: 1.25rem;
}

button.reset {
  background-color: red;
  color: white;
}

button.pdf {
  background-color: green;
  color: white;
}

.delete-btn {
  text-align: center;
}
