.CVForm {
  /* background-color: green; */
  border: blue 1pt solid;
  width: 49%;
}

.form-group {
  position: relative;
  padding: 0.8rem;
}

.form-group-area {
  position: relative;
  padding: 0.8rem;
  padding-bottom: 4rem;
}

input.form-control {
  height: 0.9rem;
  position: absolute;
  width: 60%;
  left: 10rem;
}

/* text area */
input.form-control-area {
  height: 3rem;
  position: absolute;
  width: 60%;
  left: 10rem;
}

input.form-control-area::placeholder {
  top: 0;
  position: absolute;
}

label.form-control-label {
  position: absolute;
  font-size: 0.8em;
  left: 5px;
  text-transform: uppercase;
}

button[type='submit'] {
  display: none;
}
