.cv-preview {
  border: lightcoral 1pt dotted;
  box-shadow: 5px 10px 8px #888888;
  min-width: 49%;
  line-height: 1rem;
}

.cvheader {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  padding: 0.75rem;
}

.section-header {
  font-weight: 800;
}

.cv-experience {
  display: flex;
  flex-direction: column;
}

.cv-experience-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0.5rem;
}

.cv-experience-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 0.5rem;
}

.cv-experience-company {
  font-weight: bold;
  text-decoration: underline;
}

.cv-experience-description {
  padding-left: 0.5rem;
}

.cv-experience-position {
  padding-right: 1rem;
}

.edu-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.section-header {
  padding-left: 2rem;
  font-size: 1.1rem;
}

.personal-description {
  padding-left: 0.5rem;
}

hr {
  border: none;
  height: 1px;
  background-color: rgb(125, 183, 202);
  width: 95%;
}

.name {
  font-size: 2.5rem;
}

.personal-info {
  font-size: 0.8rem;
}

.title {
  font-size: 1.2rem;
}
