/* .CVPreview * {
  text-align: start;
} */

.cv-preview {
  /* background-color: blue; */
  border: green 1pt solid;
  /* max-width: 49%; */
  min-width: 49%;
}

.cvheader {
  display: flex;
  justify-content: space-between;
  /* width: 812px; */
  font-size: 1rem;
  background-color: lightblue;
  /* max-width: 600px; */
  /* padding: 1rem; */
}

.section-header {
  /* font-style: italic; */
  font-weight: 800;
}

.cv-experience {
  display: flex;
  flex-direction: column;
  /* background-color: lightgrey; */
}

.cv-experience-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cv-experience-company {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* align-items: baseline; */
  /* top: 0; */
  /* position: absolute; */
}

.cv-experience-company * {
  padding: 0.5rem;
}

.edu-item {
  display: flex;
  justify-content: space-between;
  /* background-color: lightgreen; */
}
