main {
  font-size: 1rem;
  background-color: floralwhite;
  padding: 1rem;
  /* height: 80%; */
  width: 90%;
  margin: auto;

  display: flex;
  justify-content: space-around;
}

/*  only show CVPreview when generatePDF button clicked  */
@media print {
  @page {
    margin: 0;
  }

  body * {
    visibility: hidden;
  }
  .cv-preview,
  .cv-preview * {
    visibility: visible;
    -webkit-print-color-adjust: exact !important;
    /* width: 100%; */
    /* margin: auto; */
  }
  .cv-preview {
    position: absolute;
    /* left: 0; */
    top: 0;
  }
}
